build_artifacts/*
build_output/*

BenchmarkDotNet.Artifacts

**/*.suo
**/**/*.suo
**/*.user
**/**/*.user

bin
obj
_ReSharper*
*.dotCover

*.csproj.user
*.resharper.user
*.ReSharper.user
*.cache
*~
*.swp
*.bak
*.orig
*.user

NuGet.exe
packages

.DS_Store

TestResult.xml
submit.xml
doc/*
SolutionVersion.cs
AppPackages/

.DS_Store
*.DS_Store

_book
/node_modules
.vs/
.vscode/
*.lock.json
src/.idea

# Cake
tools/**
!tools/packages.config

# Artifacts
artifacts/**