skip_tags: true
image: Visual Studio 2017
skip_commits:
  files:
    - docs/*
    - '**/*.html'
build_script:
- cmd: >-
    @echo off

    cls

    If Not Exist src\.nuget\nuget.exe msbuild src\.nuget\NuGet.targets -Target:RestorePackages

    If Not Exist src\packages\gitlink\lib\net45\GitLink.exe src\.nuget\nuget.exe Install gitlink -Source "https://www.nuget.org/api/v2/" -OutputDirectory "src\packages" -ExcludeVersion

    If Not Exist src\packages\FAKE\tools\fake.exe src\.nuget\nuget.exe Install FAKE -OutputDirectory "src\packages" -ExcludeVersion

    src\packages\FAKE\tools\fake.exe build.fsx %*
artifacts:
- path: build_artifacts/*.nupkg
  name: Packages

deploy:
- provider: NuGet
  name: Release
  api_key:
    secure: 0B2TmwiOnNW+CavGbvgr6S8WcuB2A/5enkf/ZrlRW+8Q8AwW5P9T7+B3QDAtYiEi
  on:
    branch: master
